* {
	box-sizing: border-box;
	}
	
body {
	font-size: 30px;
	font-family: Arial;
}

h1 {
	margin-bottom: 15px;
	text-align: center;
}

span {
	border: 1px solid black;
	border-top: none;
	border-right: none;
	Font-size: 90%;
	float:right;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -10px;
	
}

.Hatha-yoga {
	background-color: #F1B650;
}

.Ashtanga-yoga {
	background-color: #BECF68;
	color: #6868CF;
}

.Kundalini-yoga {
	background-color: #CF7968
}

p {
	background-color: #EED8E2;
	border: 1px solid black;
	width: 90%;
	height: 500px auto;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial;
	font-size: 80%;
	color: #5B675E;
	padding-left: 10px;
	padding-right: 10px;
	
}


/*responsive framework*/

.container {
	width: 100%;
	
  float:left;
  overflow: hidden;
 
	
	
	
}


/*large devices*/
@media (min-width: 992px)  {
	.col-1 {
		float: left;
		width: 33%;
		
	}
	
	.col-2 {
		float: left;
		width: 33%;
	}
	
	.col-3 {
		float: left;
		width: 33%;
	}
}

/*medium devices*/
@media (min-width: 768px) and (max-width: 991px)  {
	.col-1 {
		float: left;
		width: 50%;
		
	}
	
	.col-2 {
		float: left;
		width: 50%;
	}
	
	.col-3 {
		float: left;
		width: 100%;
	}
	
}

/*small devices*/
@media (max-width: 767px)  {
	.col-1 {
		float: left;
		width: 100%;
		
	}
	
	.col-2 {
		float: left;
		width: 100%;
	}
	
	.col-3 {
		float: left;
		width: 100%;
	}
}
